*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: monospace;
  
  --color-bg-body: #fff;
  /*--color-bg-body: #071836;*/
  /*--color-header: #332946;*/
  --color-header: #0d386d;
  --color-shadow: rgba(0, 0, 0, 0.527);
  --color-footer: #023e8a;
  --color-text-introduction: #fff;
  --color-text-language: #fff;
  --color-text-description: #fff;
  --color-bg-projects: #0d386d;
  --color-h1: blue;
  /*color palet https://coolors.co/091e3d-030b18-0d3262-16487b*/

  /*color palet https://coolors.co/091e3d-071836-0d386d-16487b*/
}


body{
  margin: 0px 0px 0px 0px;
  padding: 0px;
  /*background-color : #332946;
*/
  background-color: var(--color-bg-body);

}

.language{
  position: absolute;
  color: var(--color-text-language);
 /* background-color: #170e1f;
  font-size: 1.4rem;
  border-radius: 20px;*/
  right: 16px;
  top:16px;
  padding: 10px;

}

hr{
  width: 80%;
  margin: 0px auto;
}

header{

  position: relative;
  background-color :   var(--color-header);
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 16px;
  height: 480px;
  box-shadow: 0px 5px 20px var(--color-shadow);
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 48px;

}

footer{

  position: relative;
  background-color :   var(--color-footer);
  
  justify-content: center;
  height: 30px;
  
  align-items: center;
  flex-wrap: wrap;
  display: flex;

}

#myFace{

  display:block;
  border-radius: 50%;
  box-shadow: 0px 5px 20px var(--color-shadow);
  margin: 0px auto;
  
}

#introduction{
  text-align: justify;
  color: var(--color-text-introduction);
  font-family: monospace;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 16px;
  display: block;
  margin-bottom: 16px;
  line-height: 150%;
  
}

.logos{
  margin-left: 10px;
  margin-right:  10px;
  margin-bottom: 10px;
  display: inline;
  border-radius: 50%;
  box-shadow: 0px 5px 20px var(--color-shadow);
}

.social{

  align-items: center;
  justify-content: center;
  margin: 0px auto;
}

a{ color: inherit;
  text-decoration:none;
}

.conteiner{

  max-width: 1600px;
  margin: 0px auto;

  display: flex;

  flex-wrap: wrap;



}
/*div.projects*/
.projects{

    height: 300px;
    width: 40%;
    width: 400px;
    
    margin: 0px auto;
    margin-bottom: 40px;

    font-size: 16px;
    border-radius: 5px;
    background-color: var(--color-bg-projects);
    position: relative;
    box-shadow:0 10px 16px 0 rgba(0, 0, 0, 0.527),0 6px 20px 0 rgba(0, 0, 0, 0.527) !important;
}

.imgs-projects{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 80%;
  
  
  
}

h1{
  color: var(--color-h1);
  text-align: center;
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom:  10px;
}

.description{
    color: var(--color-text-description);
    text-align: justify;
    text-justify: inter-word;
    margin: 12px;

}



@media (max-width:800px) {


  header{
    justify-content: center;
    align-items: center;
    height: 620px;
  }

  .projects{

    height: 500px;
  }

  .social{
      margin: 0px auto;
  }

  #myFace{
    float: none;
    border-radius: 50%;
    margin: 0px auto;
    justify-content:    center;

    


  }

  #introduction{
    
    margin-left: 10px;
    margin-right: 10px;
    
    
  }

  

}


@media (max-width:500px) {



  header{
    justify-content: center;
    align-items: center;
    height: 900px;
  }

  .language{
    position: relative;
    margin: 0px auto;
    margin-bottom: 16px;
    right: 0;
    top: 0;
  }

  #myFace{
    float: none;
    border-radius: 50%;
    margin: 0px auto;
    justify-content:    center;
  }

  .projects{

    height: 600px;
  }

  .social{
    text-align: center;
      margin: 0px auto;
  }

  
}

